<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current User</title>
</head>
<body>
    <h2>Current User:</h2>
    <p>First Name: {{user.first_name}}</p>
    <p>Last Name: {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Age: {{user.age}}</p>
    <p>Role: {{user.role}}</p>
    <button onclick="window.location.href='/api/sessions/logout'">Logout</button>
</body>
</html>